#parent {
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

#parent input {
    width: 400px;
    height: 37px;
}

#child1 p {
    color: #414467;
    margin-bottom: 5px;
}


#child1 a {
    display: block;
    margin-bottom: 25px;
    color:  #202340;
    margin-top: 5px;
}

#child1 button {
    display: block;
    width: 410px;
    background-color: #414467;
    color: white;
    height: 36px;
    border-radius: 30px;
    border: none;
}

#child1 button:hover {
    background-color: #202340;
}

#child2 button:hover {
    background-color: #202340;
    color: white;
}

#child2 button {
    display: block;
    margin-top: 8px;
    width: 200px;
    height: 36px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #202340;
    color: #202340;
    font-weight: 760;
}

#child2 p {
    font-size: 23px;
    font-weight: 500;
    padding-top: 48px;
    margin-bottom: 12px;
    color: #414467;
}

span {
    color: #414467;
}

#child2 a {
    color: #202340;
}

h1 {
    margin-bottom: -5px;
    color: #414467;
} 

#parent a:hover {
    text-decoration: none;
    color: #3366cc;
}


/* Footer Section */

.connect {
    background-color: #545871;
    color: white;
}

#connect1,
#conn,
#connect2,
#ac,
#images,
#social,
#connect2>div:nth-child(1) {
    display: flex;

}

#connect1 {
    height: 50px;
    justify-content: right;
    align-items: center;
    padding: 0 20px;
    font: 13px;
}

#conn {
    gap: 40px;
    align-items: center;
}

#connect2 {
    justify-content: space-between;
}

#ac {
    gap: 10px;
    align-items: center;
}

#ac a,
#a {
    color: white;
}

#info {
    font-size: 13px;
    line-height: 12px;
    padding: 7px 0 2px 10px;
    color: #202340;
    background-color: #f0f1f7;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.ancor>a {
    color: black;
}

#images {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
    background-color: #f0f1f7;
}

#images img {
    height: 80px;
    width: 80px;
}

#image {
    margin: auto;
    width: 10%;
}

#image>div>a>img {
    height: 100px;
    width: 120px;
}

#social {
    align-items: center;
}

#social i {
    width: 45px;
    color: white;
    height: 45px;
    justify-content: center;
    align-items: center;
}

#connect2>div:nth-child(1) {
    justify-content: space-between;
}

#footer {
    background-color: #f0f1f7;
    margin-top: 65px;
}

/* Footer Section End */

/* MEDIA QUERIES */
@media only  screen and (max-width: 450px) {
    #parent {
        flex-direction: column;
        text-align: center;
    }
}
  